.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-card {
    width: max-content;
    height: max-content;
    background-color: rgb(245, 245, 245);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.911);
    padding: 10px 25px 25px;
    display: flex;
    flex-direction: column;

    h1,
    h2 {
        text-align: center;
    }

    button {
        border: 0;
        border-radius: 8px;
        background: black;
        color: white;
        padding: 10px 20px;
        font-size: 1.1rem;
        width: max-content;
        margin: 15px auto 0;
        cursor: pointer;

        transition: transform 250ms ease;

        &:hover {
            transform: scale(1.04);
        }
    }
}
