$bg-color: lightslategray;

$gameB-light: #d6a259;
$gameB-dark: #a05924;

$player-light: #fff;
$player-dark: #000;

$possible-move: #f00;
$possible-move-hover: chartreuse;

// Modal
$bg-modal: rgb(245, 245, 245);
$bg-btn-modal: #000;
$color-btn-modal: #fff;
